@import './base.css';


body, html{
  height: calc(100vh - 5rem) ;
  width: 100vw ;
  background-color: aqua;
}

.active {
  color: white ;
  text-decoration: none;
  border: none ;
}

a {
  color: white ;
  text-decoration: none;
  border: none ;
}

